<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user_id %><br>
    <%= f.collection_select :user_id, User.all, :id, :email, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :venue_id %><br>
    <%= f.collection_select :venue_id, Venue.all, :id, :name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :role %><br>
    <%= f.select :role, Profile.roles.to_a.map { |w,t| [w.humanize, w] } %>
  </div>
  <div class="form-group">
    <%= f.label :inside %><br>
    <%= f.check_box :inside, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :note %><br>
    <%= f.text_area :note, :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Save", :class => "btn btn-primary" %>
  </div>
<% end %>
