<h1>Listing Events</h1>

<table class="table table-striped" id="events_table">
  <thead>
    <tr>
      <th>Type</th>
      <th>Subtype</th>
      <th>Payload</th>
      <th>Timestamp</th>
      <th>User</th>
      <th>App</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.type %></td>
        <td><%= event.subtype %></td>
        <td><%= event.payload %></td>
        <td><%= event.timestamp %></td>
        <td><%= event.user ? event.user.email : "" %></td>
        <td><%= event.app ? event.app.key : "" %></td>
        <td>
          <%= link_to 'Show', event, class: "btn btn-default" %>
          <%= link_to 'Edit', edit_event_path(event), class: "btn btn-default" %>
          <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>

<script>
  var dispatcher = new WebSocketRails('<%= WEBSOCKET_URL %>');
  console.log(dispatcher);
  dispatcher.on_open = function(data) {
    console.log('Connection has been established: ', data);
  }
  var channel = dispatcher.subscribe('events_channel');
  channel.bind('new_event', function(data) {
    console.log('channel event received: ' + JSON.stringify(data));
    var table = document.getElementById("events_table");
    var row = table.insertRow(1);
    var tdType = row.insertCell(0);
    var tdSubtype = row.insertCell(1);
    var tdPayload = row.insertCell(2);
    var tdTimestamp = row.insertCell(3);
    var tdUser = row.insertCell(4);
    var tdApp = row.insertCell(5);
    var tdShow = row.insertCell(6);
    tdType.innerHTML = data["type"];
    tdSubtype.innerHTML = data["subtype"];
    var payload = JSON.stringify(data["payload"]);
    if (payload)  {
      tdPayload.innerHTML = payload;
    }
    tdTimestamp.innerHTML = timeConverter(data["timestamp"]);
    tdUser.innerHTML = data["user"];
    tdApp.innerHTML = data["app"];
    tdShow.innerHTML = '<a class="btn btn-default" href="/events/' + data["id"] + '">Show</a> <a class="btn btn-default" href="/events/' + data["id"] + '/edit">Edit</a> <a data-confirm="Are you sure?" class="btn btn-danger" rel="nofollow" data-method="delete" href="/events/' + data["id"] + '">Destroy</a>';
  });

  function timeConverter(UNIX_timestamp){
    var a = new Date(UNIX_timestamp * 1000);
    var year = a.getFullYear();
    var month = a.getMonth() + 1;
    var day = a.getDate();
    var hour = a.getHours();
    var min = a.getMinutes();
    var sec = a.getSeconds();
    var time = year + '-' + month + '-' + day + ' ' + hour + ':' + min + ':' + sec ;
    return time;
  }
</script>
