<h1>Listing Venues</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @venues.each do |venue| %>
      <tr>
        <td><%= venue.name %></td>
        <td><%= venue.description %></td>
        <td>
          <%= link_to 'Show', venue, class: "btn btn-default"  %>
          <%= link_to 'Edit', edit_venue_path(venue), class: "btn btn-default"  %>
          <%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Venue', new_venue_path %>
